<div class="panel">
  <div class="card-header">
    <div class="row">
      <div class="col-xs-6">
        <h1> {{ contacts[0].name }} </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <img [src]="contacts[0].imageUrl" alt="" class="img-responsive">
      </div>
      <div class="col-xs-6 btn-group">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xs-12">
        Email: <span>{{ contacts[0].email }}</span>
      </div>
      <div class="col-xs-12">
        Phone:  <span>{{ contacts[0].phone }}</span>
      </div>
    </div>
  </div>
</div>






