<div class="panel">
  <div class="card-header">
    <div class="row">
      <div class="col-xs-6">
        <h1> {{ contact.name }} </h1>
      </div>
    </div>
    <div *ngIf="contact.imageUrl !='_'" class="row">
      <div class="col-xs-6">
        <img [src]="contact.imageUrl" alt="" class="img-responsive">
      </div>
      <div class="col-xs-6 btn-group">
        <a [routerLink]="['edit']" class="btn btn-primary">Edit</a>
        <a (click)="onDelete()"class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div 
        class="col-xs-12"
        *ngIf="contact?.email">
        Email: <span>{{ contact.email }}</span>
      </div>
      <div 
        class="col-xs-12"
        *ngIf="contact?.phone">
        Phone:  <span>{{ contact.phone }}</span>
      </div>
      <div class="row">
        <div class="col-xs-12" style="padding-left:30px;">
          Group Contacts
          <app-contact-item
            *ngFor="let contact_element of contact.group"
            [contact]="contact_element"
          ></app-contact-item>
          <!-- <app-contact-item *ngFor="let contact_element of contacts" [contact]="contact_element"></app-contact-item> -->
          <!-- <app-contact-item></app-contact-item> -->
        </div>
      </div>
    </div>
  </div>
</div>






